.gallery{
  padding: 90px 0;
  background: #353535;
  &__title{
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
    margin-bottom: 60px;
  }
  &__row{
    display: flex;
    column-gap: 40px;
    flex-wrap: wrap;
  }
  &__images{
    width: calc(50% - 20px);
    display: flex;
    gap: 13px;
    flex-wrap: wrap;
  }
  &__img-1{
    width: calc(33.33333% - 10px);
  }
  &__img-2{
    width: calc(66.66666% - 5px);
  }
  img{
    width: 100%;
  }
  &__info{
    margin-top: 35px;
    width: calc(50% - 20px);
    display: flex;
    align-items: start;
    column-gap: 32px;

    &-icons{
      display: flex;
      flex-direction: column;
      padding: 12px 19px;
      background: #353535;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
      border-radius: 26px;
      border: 0.5px solid #353535;
      width: 78px;
      row-gap: 50px;
    }
    &-list{
      display: flex;
      flex-direction: column;
      row-gap: 30px;
    }
    &-item{
      font-weight: 700;
      font-size: 20px;
      line-height: 150%;
      color: #FFFFFF;
    }
  }

}